{% extends 'main.html' %}

{% block content %}
{% load static %}
<!-- <h1>Hello World</h1>

<p>We create charts that are cool using django, plotly, pandas, and htmx</p>
<a href="{% url 'create-dashboard' %}">CREATE DASHBOARD</a> -->

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'images/pexels-burak-the-weekender-186464.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">WILLAB DATA ANALYTICS</h1>
        <p class="lead">Create nice charts using django, plotly, pandas, and htmx. Enjoy the whole process...</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"><a href="{% url 'create-dashboard' %}">CREATE DASHBOARD</a></button>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

